<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Your Password</h1>
  <form action="http://localhost:8080/api/view/reset" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="newPassword">New Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Reset Password</button>
     <h3 style="color: red;">Error Can't put the same password</h3>
  </form>
</body>
</html>



