<h2>Socket Cliente</h2>

<form id="form">
    <label>Title</label><input type="text" id="title" placeholder="Title">
    <label>Price</label><input type="text" id="price" placeholder="Price">
    <label>Description</label><input type="text" id="description" placeholder="Description">
    <input type="submit" value="Enviar">
</form>

<p id="productos"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>