<form style="  display: flex; justify-content: center; align-items: center;" id="mensajeForm">
  <input type="text" id="mensajeInput" name="mensaje" placeholder="Ingrese su mensaje">
  <button type="submit">Enviar</button>
</form>



<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>