<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Your Password</h1>
  <form action="http://localhost:8080/api/view/reset" method="post">
    <input type="hidden" name="token" id="tokenField">
    <input type="hidden" name="time" id="timeField">
    <label for="newPassword">New Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Reset Password</button>
     <h3 style="color: red;">Error Can't put the same password</h3>
  </form>

  <script>
    function getQueryParam(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  }


  const token = getQueryParam('token');
  const time = getQueryParam('time');


  document.getElementById('tokenField').value = token;
  document.getElementById('timeField').value = time;
  </script>
</body>
</html>



