<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Token Expired</h1>
    <form action="http://localhost:8080/api/mail" method="post">
        <label for="email">Email</label>
        <input type="email" name="email">
        <button type="submit">Send Email</button>
    </form>
</body>
</html>