<!DOCTYPE html>
<html>
<head>
    <title>Carga de documentacion</title>
</head>
<body>
    <h1>Carga de documentacion</h1>
<form id="documentForm" method="post" enctype="multipart/form-data">
    <h3>Suba su imagen de Perfil</h3>
    <input type="file" name="profileImage">
    <h3>Suba la imagen del Producto</h3>
    <input type="file" name="productImage">
    <h2>Suba la documentacion requerida</h2>
    <h3>Identificacion:</h3>
    <input type="file" name="documents">
    <h3>Comprobante de domicilio:</h3>
    <input type="file" name="documents">
    <h3>Comprobante de Estado de Cuenta:</h3>
    <input type="file" name="documents">
    <br>
    <br>
    <br>
    <button type="submit">Subir Documentos</button>
</form>

<script>
    const urlParts = window.location.pathname.split('/');
    const uid = urlParts[urlParts.length - 1];
    
    const form = document.getElementById('documentForm');
    
    form.action = `http://localhost:8080/api/users/${uid}/documents`;

</script>
</body>
</html>